config.h
configIP.h

# .NET build outputs
bin/
obj/

# Configurações sensíveis
appsettings.Development.json
appsettings.Local.json
*.pfx

# IDE / Editor
.vs/
.vscode/
*.user
*.suo

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
